body {
    background: rgb(31, 182, 228);
    color: rgb(10, 11, 70);
    padding: 10px;
    font-family: arial;
}
#all-contents {
  max-width: 800px;
    margin: auto;
}
nav {
    background: rgb(0, 0, 0);
   margin: 0 auto;
    display: flex;
    padding: 10px;
}
h1 {
    display: flex;
    align-items: center;
    color: rgb(15, 9, 65);
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #140000;
}

/* main container area beneath menu */
main {
    background: rgb(68, 155, 226);
    display: flex;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
}
.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
#interests {
    border: 4px rgb(0, 0, 0) ridge;
    padding: 8px;
}
h2, h3 {
    margin: 0px;
}
body {
    background: rgb(119, 178, 255);
    color: rgb(45, 45, 45);
    padding: 10px;
    font-family: arial;
}
header {
    font-size: 1.5em;
    font-weight: bold;
}

#all-contents {
    max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(59, 119, 187);
    margin: 0 auto;
    display: flex;
    padding: 10px;
}
h1 {
    display: flex;
    align-items: center;
    color: rgb(69, 50, 247);
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
.nav-a {
    text-decoration: none;
    color: hsl(0, 0%, 0%);
}

/* main container area beneath menu */
main {
    background: rgb(255, 255, 255);
    display: flex;
}
.content {
    flex: 1;
    padding: 15px;
}

         /* portfolio styles */
.content h1 {
   color: black;
}

#portfolio {
   list-style-type: none;
   padding-left: 0;
}

#portfolio li {
   background: #9fb2db;
   padding: 10px;
   border-radius: 10px;
   margin-bottom: 10px;
}

#portfolio li:hover {
   background: #010002;
}

#portfolio a {
   text-decoration: none;
   color: #454545;
}
